<!DOCTYPE html>
<html>
    <head>
        <title>Génération de calendrier ABCD pour les shifts — La Fève</title>
        <script src="/lib/htmx"></script>
    </head>

    <body>
        <h1>Génération de calendrier</h1>

        <form hx-post="/cal/svg"
            hx-target="#calendar-div">
            <label for="year">Année:</label>
            <select id="year" name="year">
                {% for year in range(current_year - 3, current_year + 4) %}
                <option value="{{ year }}"
                        {% if year == current_year %} selected {% endif %}>
                    {{ year }}
                </option>
                {% endfor %}
            </select>
            <br/>

            <label>Semaine de premier shift:</label>
            <label for="week_id_a">A</label>
            <input type="radio" id="week_id_a" name="week_id" value="0" checked>
            &nbsp; &nbsp;
            <label for="week_id_b">B</label>
            <input type="radio" id="week_id_b" name="week_id" value="1">
            &nbsp; &nbsp;
            <label for="week_id_c">C</label>
            <input type="radio" id="week_id_c" name="week_id" value="2">
            &nbsp; &nbsp;
            <label for="week_id_d">D</label>
            <input type="radio" id="week_id_d" name="week_id" value="3">
            <br/>

            <input type="submit" value="Générer">
            <button hx-post="/cal/download" hx-target="">Télécharger</button>
        </form>

        <div id="calendar-div"/>
    </body>
</html>
